.field-inline {
  display: inline-block;
  width: 200px;
  padding-right: 11px;
  vertical-align: top;
}

.field-block {
  display: inline-block;
  width: 500px;
  vertical-align: top;
}

.form-item {
  width: 608px;
  margin-bottom: 12px;
}

.form-item-inline {
  display: inline-block;
  width: auto;
  margin-bottom: 12px;
  vertical-align: top;
}

.form-item-label {
  line-height: 32px;
  text-align: right;
  margin-right: 8px;
  display: inline-block;
  width: 100px;
}

.form-item-label-block {
  display: block;
  text-align: left;
  line-height: 16px;
  padding-bottom: 8px;
}

.INLINE-form-item-label {
  width: auto;
}

.error-msg {
  color: red;
  margin-right: 8px;
  line-height: 20px;
}

.error-msg-block {
  color: red;
  margin-right: 8px;
  line-height: 20px;
}
